#[display]
# lcd_type: st7920 # JP 128x64 Full Graphic Creality / Ender 3 stockdisplay EXP3 from display to EXP1 Board 
# cs_pin: EXP1_7
# sclk_pin: EXP1_6
# sid_pin: EXP1_8
# encoder_pins: ^EXP1_5, ^EXP1_3
# click_pin: ^!EXP1_2
# #rst_pin: ^!EXP2_8

[board_pins]
aliases:
    EXP1_1=NC,   EXP1_3=PC11,  EXP1_5=PC10, EXP1_7=NC, EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=PA14,  EXP1_6=PA13, EXP1_8=NC, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PC12, EXP2_5=PB6,   EXP2_7=NC,    EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB12, EXP2_6=PB15,  EXP2_8=<RST>, EXP2_10=<NC>,
#####################################################################
[display]
lcd_type: uc1701                # Display driver type
cs_pin: EXP1_3                  # Display CS pin
a0_pin: EXP1_4                  # Display A0 pin
rst_pin: EXP1_5                 # Display reset pin
contrast: 60                    # Contrast
encoder_pins: ^EXP2_5, ^!EXP2_3 # Encoder pins
click_pin: ^!EXP1_2             # Encoder button pin
####################################################################
#### For FLY Mini12864
[neopixel nozzle_led_t0]
pin: EXP1_6                     # Display backlight pin
chain_count: 3
initial_RED: 0.0                # Red LED brightness (0-1)
initial_GREEN: 1.0              # Green LED brightness (0-1)
initial_BLUE: 0.0               # Blue LED brightness (0-1)
color_order: RGB                # Color order
