# [filament_switch_sensor toolhead_filament_sensor_t0]
# pause_on_runout: False
# event_delay: 0.1
# switch_pin: ^toolboard:PB4
# runout_gcode:
#     _ON_TOOLHEAD_FILAMENT_SENSOR_RUNOUT TOOLHEAD=0
# insert_gcode:
#     _ON_TOOLHEAD_FILAMENT_SENSOR_INSERT TOOLHEAD=0

# [gcode_button toolhead_filament_sensor_button_t0]
# pin: ^!toolboard:PB3
# release_gcode:
#     {% if (printer.print_stats.state == "printing") %}
#         _ON_TOOLHEAD_FILAMENT_SENSOR_CLOG TOOLHEAD=0
#     {% else %}
#         _ON_FILAMENT_SENSOR_BUTTON_PRESSED TOOLHEAD=0
#     {% endif %}
# press_gcode:

#####################################################################
# Orbiter 2.0 Sensor & Button Definition
#####################################################################

[filament_switch_sensor toolhead_filament_sensor]
pause_on_runout: True
runout_gcode:
    M117 Filament-Runout erkannt!
    PAUSE
insert_gcode:
    M117 Filament eingeführt, starte Autoload...
    FILAMENT_LOAD_INIT
switch_pin: ^!toolboard:PB4 # Das '!' invertiert das Signal (oft nötig für v2.0)

[gcode_button filament_unload]
pin: ^!toolboard:PB3         # Pin des physischen Tasters am Sensor
release_gcode:               # Führt das Makro beim Loslassen des Tasters aus
    FILAMENT_UNLOAD_INIT
press_gcode:                 # Bleibt leer (Sicherheitsfunktion)
