[board_pins FLY_D5_tmc2209]
aliases:
# steppers
  x_step_pin=PC15,   x_dir_pin=PC14,   x_enable_pin=PC2,   x_uart_pin=PC13,   x_diag_pin=null,   x_endstop_pin=PB4,
  y_step_pin=PA1,   y_dir_pin=PA0,   y_enable_pin=PA2,   y_uart_pin=PC3,   y_diag_pin=null,   y_endstop_pin=PB3,
  z0_step_pin=PA5,  z0_dir_pin=PA4,  z0_enable_pin=PA6,  z0_uart_pin=PA3,  z0_diag_pin=null,	z_endstop_pin=PD2,
  z1_step_pin=PB10,  z1_dir_pin=PB2,  z1_enable_pin=PB11,  z1_uart_pin=PB1,  z1_diag_pin=null,
  
  e_step_pin=PC5,   e_dir_pin=PC4,   e_enable_pin=PB0,   e_uart_pin=PA7,   e_diag_pin=null,   e_heater_pin=PC6,  e_sensor_pin=PC1,
# accel
  #adxl345_cs_pin=PA15,
# auto leveling
  probe_pin=PB5,
# fans
  fan_part_cooling_pin=PC9,
  fan_toolhead_cooling_pin=PC8,
  fan_controller_board_pin=null,
# Bed heater
  heater_bed_heating_pin=PC7,
  heater_bed_sensor_pin=PC0,
  
[temperature_sensor FLYD5]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

#[adxl345]
#spi_bus: spi3
#cs_pin: adxl345_cs_pin